        <div id="col1">
            <a class="header" href="#">Meta</a><br />
            <a href="#">About</a><br />
            <a href="#">Blog</a><br />
        </div>
        <div id="col2">
            <a class="header" href="#">Legal</a><br />
            <a href="#">Terms of service</a><br />
            <a href="#">Privacy policy</a><br />
            <a href="#">Dmca notice</a><br />
        </div>
        <div id="col3">
            <a class="header" href="#">Service</a><br />
        </div>
        <div id="col4">
            &copy; 2008-2009 <a href="http://evil-giraffe.com">Evil Giraffe</a><br />
        </div>
