        <div id="col1">
            <a class="header" href="#">Blog</a><br />
            <a href="http://durdn.com/blog">Blog</a><br />
        </div>
        <div id="col2">
            <a class="header" href="#">Twitter</a><br />
            <a href="http://twitter.com/durdn">Twitter</a><br />
        </div>
        <div id="col3">
            <a class="header" href="http://www.thesixtyone.com">t61</a><br />
            <a href="http://thesixtyone.com/durdn">Me on T61</a><br />
        </div>
        <div id="col4">
            &copy; 2009 <a href="http://twitter.com/durdn">Nicola Paolucci</a>
        </div>
