        {% if stats %}
        <div id="actions">
        <div id="permalink"><a href="/#/user/{{ username }}">Permanent link</a> to {{username}} data</div>
        <div id="refresh-now">Reload data from t61 <a href="/#/user/{{ username }}/reload">now</a></div>
        </div>
        <table id="bumps-table">
        <thead>
        <tr>
        <th>Photo</th>
        <th>Reputation Bump</th>
        <th>Hearted</th>
        <th>Name</th>
        <th>Artist</th>
        <th>Score</th>
        </tr>
        </thead>
        <tbody>
     	{% for bump in stats %}
         {{ modules.Bump(bump) }}
    	{% end %}
        <tbody>
        </table>
    	{% else %}
    	  <div id="load-now">No data in cache. <a href="/#/user/{{ username }}/reload">Load it now?</a></div>
    	{% end %}
