        {% if stats %}
        <table id="bumps-table">
        <thead>
        <tr>
        <th>Photo</th>
        <th>Reputation Bump</th>
        <th>Name</th>
        <th>Artist</th>
        <th>Score</th>
        </tr>
        </thead>
        <tbody>
     	{% for bump in stats %}
         {{ modules.Bump(bump) }}
    	{% end %}
        <tbody>
        </table>
    	{% else %}
    	  <div id="load-now">No data in cache. <a href="/#/user/{{ username }}/reload">Load it now?</a></div>
    	{% end %}
