        <div class="logo">
          <a href="/"><img src="/static/img/new-logo2.png" alt="logo"/></a>
        </div>
        <div class="login">
          <div id="login-line"></div>
        </div>
        <div id="left_tabs">
          {% include 'mainmenu.html' %}
        </div>
        <div id="subnav">
          <ul>
              <li><a href="#"><img src="/static/img/icons/user.png" alt=""/>Empty</a></li>
              <li><a href="#"><img src="/static/img/icons/user.png" alt=""/>Empty</a></li>
              <li><a href="#"><img src="/static/img/icons/user.png" alt=""/>Empty</a></li>
              <li><a href="#"><img src="/static/img/icons/user.png" alt=""/>Empty</a></li>
          </ul>
        </div>
